@model PartyInvites.Models.GuestResponse
@{
    ViewBag.Title = "Rsvp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-bind="visible:model.view() =='form'">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>RSVP</h4></div>
        <div class="panel-body">
            <div class="form-group">
                <label>Your name:</label>
                <input class="form-control" data-bind="value: model.rsvp.name" />
            </div>
            <div class="form-group">
                <label>Your email:</label>
                <input class="form-control" data-bind="value: model.rsvp.email" />
            </div>
            <div class="form-group">
                <label> Will you attend ?</label>
                <select class="form-control" data-bind="value:model.rsvp.willattend">
                    <option value="true">Yes, I'll be there</option>
                    <option value="false">No, I can't come</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-success" data-bind="click: sendRsvp">Submit RSVP</button>
            </div>
        </div>
    </div>
</div>
