@model PartyInvites.Models.GuestResponse
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-bind="visible : model.view() =='thanks'">
    <h1> Thank you, <span data-bind="text :model.rsvp.name()"></span>!</h1>
    <div class="lead">
        <span data-bind="visible:model.rsvp.willattend()=='true'">
            It's great that you're coming. The drinks are already in the fridge!
            <br>
            Here is the list of people coming:
            <span data-bind="text:model.attendees().join(',')"></span>
        </span>
        <span data-bind="visible: model.rsvp.willattend() =='false'">
            Sorry to hear that you can't make it, but thanks for letting us know.
        </span>
    </div>
</div>